/* navigation style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    height: 10px 0px 10px 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #E55473;
    border-radius: 8px;
    border: 0px;
    color: white;
    font-weight: 700px;
    font-size: 20px;
    padding: 16px 39px 16px 39px;
}

.nav-title {
    color: black;
    font-family: open sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #5e1818;
    font-size: 18px;
}

.navbar {
    background: rgba(229, 84, 115, 0.10);
}

/* Banner */
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    padding-top: 5px;
}

.banner-content {
    max-width: 400px;
    align-items: center;
    overflow: hidden
}

.banner-title {
    color: #272727;
    font-size: 46px;
    font-weight: 800;
    line-height: normal;
}

.flower-pic {
    width: 400px;
}

.banner-section {
    width: 1920px;
    height: 850px;
    padding-top: 20px;
}


/* featured section */
.featured-flower {}

.flower-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flower-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.flower-types {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 200px 10px 200px;
}

.pink {
    width: 465px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-one {
    width: 310px;
    height: 428px;
}

.flower-two {
    width: 370px;
    height: 370px;
}

.flower-three {
    width: 314px;
    height: 471px;
}

.pink .flower-one {
    align-items: center;
}

.skyblue {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.lightgreen {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.text-decoration {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}